{{#foreach posts}}

  {{#if @first}}

    <div class="new-notice col-md-6 col-xs-12">
          <a href="{{url}}" class="white-content {{post_class}} post-{{@index}} col-md-12" style="{{#if image}} background-image: url('{{image}}');background-position:center center;background-size:cover; {{/if}}">
            <header class="post-header">
                <h4 class="post-title">{{{title}}}</h4>
            </header>
            <section class="post-excerpt">
                <p>{{excerpt words="26"}} »</p>
            </section>
            <footer class="post-meta">
                <time class="post-date" datetime="{{date published_at timeago="true"}}">{{date published_at timeago="true"}}</time>
            </footer>
        </a>
    </div>
  {{/if}}
{{/foreach}}

<div class="others col-md-6 col-sm-12">
{{#foreach posts}}
  {{^if @first}}
  <a href="{{url}}" class="col-md-6 col-xs-12 white-content {{post_class}} post-{{@index}} " style="{{#if image}} background-image: url('{{image}}');background-position:center center;background-size:cover; {{/if}}">
      <header class="post-header">
          <h4 class="post-title">{{{title}}}</h4>
      </header>
      <section class="post-excerpt">
          <p>{{excerpt words="26"}} »</p>
      </section>
      <footer class="post-meta">
          <time class="post-date" datetime="{{date published_at timeago="true"}}">{{date published_at timeago="true"}}</time>
      </footer>
  </a>
  {{/if}}
{{/foreach}}
</div>
