<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="{{meta_description}}">

    {{#is "index"}}
      <title>{{meta_title}}: Home</title>
    {{else}}
      <title>TEDx Parque Jipiro: {{meta_title}}</title>
    {{/is}}
    {{ghost_head}}

    {{!favicon}}
    <link rel="icon" type="image/png" href="{{asset "/favicon.ico"}}">

    {{! Bootstrap Styles}}
    <link rel="stylesheet" href="{{asset "/css/bootstrap.min.css"}}">
    <link rel="stylesheet" href="{{asset "/css/bootstrap-theme.min.css"}}">

    {{! Personal Styles}}
    <link rel="stylesheet" href="{{asset "/css/components.css"}}">
    <link rel="stylesheet" href="{{asset "/css/icomoon_styles.css"}}">

    {{#is "index"}}
      <link rel="stylesheet" href="{{asset "/css/animate.css"}}"/>
    {{/is}}



  </head>

  <body class="{{body_class}}">

    {{! Navigation from Partials}}
    {{> "_nav-bar"}}

    {{! Content Body}}
    {{{body}}}

    {{!Content Footer}}
    {{> "_footer"}}
    {{ghost_foot}}

    {{!Bootstrap scripts}}
    <script src="{{asset "/js/bootstrap.js"}}"></script>
    <script src="{{asset "/js/validator.js"}}"></script>
    <script src="{{asset "/js/min/app.js"}}"></script>

</body>
</html>
