<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="{{meta_description}}">

    {{#is "index"}}
      <title>{{meta_title}}: Home</title>
    {{else}}
      <title>TEDx Parque Jipiro: {{meta_title}}</title>
    {{/is}}
    {{ghost_head}}

    {{!favicon}}
    <link rel="icon" type="image/png" href="{{asset "/favicon.ico"}}">
    {{! Personal Styles}}
    <link rel="stylesheet" href="{{asset "/css/components.css"}}">
    {{#is "index"}}
      <link rel="stylesheet" href="{{asset "/css/animate.css"}}"/>
    {{/is}}
  </head>
  <body class="{{body_class}}">
    {{! Navigation from Partials}}
    {{> "_nav-bar"}}

    {{! Content Body}}
    {{{body}}}

    {{!Content Footer}}
    {{> "_footer"}}
    {{ghost_foot}}

    {{!Scripts}}
    <script src="{{asset "/js/min/app.js"}}"></script>

</body>
</html>
