<link rel="stylesheet" href="{{asset "/css/bootstrap.min.css"}}">
<link rel="stylesheet" href="{{asset "/css/components.css"}}">
<link rel="stylesheet" href="{{asset "/css/animate.css"}}">

<section class="page-error">
    <article class="error-messages">
      <h1><strong>{{code}}</strong></h1>
      <h3>{{message}}</h3>
      <h4>Estas perdido?</h4>
    </article>
    <figure class="col-md-6 brand animated wobble">
      {{#if @blog.logo}}
        <img src="{{@blog.logo}}" alt="{{@blog.title}}-logo" />
      {{else}}
        <h1> UPS!!</h1>
      {{/if}}
    </figure>
    <div class="btn-return">
      <a class="btn btn-primary" href="{{@blog.url}}"> &larr; Regresar</a>
    </div>

</section>
