{{!< default}}

<section class="cover">

  <figure class="cover-image">
    <div class="dots"></div>
    <img src="{{@blog.cover}}" alt="TEDx ParqueJipiro cover" />
  </figure>

  <div class="cover-content">
    <div class="container">

      <figure class="container-logo">
        <img class="logo" src="{{@blog.logo}}" alt="TEDxParqueJipiro Logo" />
      </figure>

      <div class="blog-description white-content">
        <h4>Que es TEDx</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class="btn-about">
      <a class="btn btn-primary" href="{{@blog.url}}/about">Conoce más</a>
    </div>

  </div>

</section>

<section class="new-posts container">
  {{> "_loop_index"}}
</section>

<section class="countdown">

  <div class="container">
    <div class="dots"></div>

    <div class="TEDx-event">
      <div class="next-event white-content">
        <h3>Proximo</h3>
        <img class="logo" src="{{@blog.logo}}" alt="TEDx logo" />
      </div>

      <div class="counter white-content">
      </div>
      <div class="ready">
      </div>

      <a class="btn btn-info"href="{{@blog.url}}/">Registrate</a>
    </div>

  </div>

</section>
