{{!< default}}

<section class="cover">

  <figure class="cover-image">
    <div class="dots"></div>
    <img src="{{@blog.cover}}" alt="TEDx ParqueJipiro cover" />
  </figure>

  <div class="cover-content">
    <div class="container">

      <figure class="container-logo animated animated-in">
        <img class="logo" src="{{asset "/images/TEDx_logo_white.png"}}" alt="TEDxParqueJipiro Logo" />
      </figure>

      <div class="blog-description white-content animated animated-in">
        <h4>¿Qué es TEDxParqueJipiro?</h4>
        <p>{{@blog.description}}</p>
      </div>
    </div>

    <div class="btn-about animated animated-in">
      <a class="btn btn-primary" href="{{@blog.url}}/about">Conoce más</a>
    </div>

  </div>

</section>

<section class="new-posts container">
  {{> "_loop_index"}}
</section>

<section class="countdown">

  <div class="container">

    <div class="TEDx-event">
      <div class="next-event white-content">
        <h3>Proximo</h3>
        <img class="logo" src="{{asset "/images/TEDx_logo_white.png"}}" alt="TEDx logo" />
      </div>

      <div class="counter white-content">
      </div>
      <div class="date-time">
        27 de mayo de 2016
      </div>
      <div class="ready">
      </div>

      <a class="btn btn-info hidden"href="{{@blog.url}}/">Registrate</a>
    </div>

  </div>

</section>
